.movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.movie {
  font-size: 14pt;
  height: 300px;
  width: 200px;
  background-color: #eee;
  border-radius: 8px;
}

.movie h1 {
  font-size: 18pt;
}

.container {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: space-around;
  justify-items: center;
}